.recipes {
  list-style-type: none;
  margin: 0;
  display: flex;
}

.card {
  display: flex;
  width: 300px;
  border: 1px solid #ececec;
  margin: .4rem;
  
  a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 1rem;
    width: 100%;
    transition: all .1s ease-in-out;

    &:hover {
      box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
    }
  }

  h2 {
    margin-bottom: 0
  }

  img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    margin: .8rem 0;
  }

  .card-meta {
    display: flex;
    flex-direction: column;
    margin: .8rem 0;
    padding: 0;
  }

  span {
    color: #777;
    font-size: .8rem;
    font-style: italic;
  }
}

.meta {
  display: flex;
  align-items: center;
  margin-bottom: 1.45rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.tags {
  padding: 5px;
  background: #f4fcf4;
  color: black;
  margin: 0 8px;
  font-size: .8rem;
}