.container {
  margin: 0 auto;
  max-width: 968px;
  padding: 1.45rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 124px);
  background: var(--color-bg);
}

.content {
  flex-grow: 1;
}